# Exclude build artifacts, caches, personalised files, and sensitive information from version control.
# https://git-scm.com/docs/gitignore
# https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# Development tools and IDEs
.idea/*
!.idea/runConfigurations/
!.idea/*.iml
!.idea/externalDependencies.xml
!.idea/jsonSchemas.xml
!.idea/modules.xml
!.idea/vcs.xml
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
!.vscode/tasks.json
.act.local
.env.local
lefthook-local.yml

# Operating system artifacts
*~
.DS_Store
Thumbs.db

# pnpm
node_modules/

# Vite
dist/*
!dist/main.mjs
