# Exclude certain files and directories from version control.
#
# Read more:
# https://git-scm.com/docs/gitignore
# https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# IntelliJ IDEA.
.idea/*
!.idea/runConfigurations/
!.idea/*.iml
!.idea/externalDependencies.xml
!.idea/modules.xml
!.idea/prettier.xml
!.idea/vcs.xml

# Visual Studio Code.
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
!.vscode/tasks.json

# AsciiDoctor.
.asciidoctor/
.asciidoctorconfig

# Local environment.
*.local
*.local.*

# Dependency management.
.yarn/*
!.yarn/cache/
!.yarn/patches/
!.yarn/plugins/
!.yarn/releases/
!.yarn/sdks/
!.yarn/versions/
node_modules/

# Operating system artifacts.
*~
.DS_Store
Thumbs.db
