# Manage devtools and tasks with mise-en-place.
# https://mise.jdx.dev/configuration.html

min_version = "2026.1.0"

[tools]
actionlint = "1.7.10"
node = "24.13.0"
pnpm = "10.26.2"

[tasks.build]
depends = ["build-cli", "build-gha", "build-legacy-v1"]
description = "Runs `build-cli`, `build-gha`, and `build-legacy-v1`."
alias = ["b"]

[tasks.build-cli]
# language=sh
run = """
  vite build --ssr src/main-cli.ts --outDir dist/cli/
"""
env = { COMET_PLATFORM = "cli" }
description = "Generates production-grade build artefacts of the v2 command-line entrypoint with Vite."
alias = ["bc"]

[tasks.build-gha]
# language=sh
run = """
  vite build --ssr src/main-gha.ts --outDir dist/gha/
"""
env = { COMET_PLATFORM = "gha" }
description = "Generates production-grade build artefacts of the v2 GitHub Actions entrypoint with Vite."
alias = ["bg"]

[tasks.build-legacy-v1]
# language=sh
run = """
  vite build --ssr src/legacy-v1-main.ts --outDir dist/
"""
description = "Generates production-grade build artefacts of the legacy v1 GitHub Actions entrypoint with Vite."

[tasks.check]
depends = [
  "check-actions",
  "check-format",
  "check-mise",
  # "check-renovate", # Skipped because it is often quite slow.
  "check-types",
]
description = "Runs `check-actions`, `check-format`, `check-mise`, and `check-types`."
alias = ["c"]

[tasks.check-actions]
# language=sh
run = """
  actionlint
"""
description = "Verifies that the GitHub Actions workflows are valid with actionlint."
alias = ["ca"]

[tasks.check-format]
# language=sh
run = """
  biome check --error-on-warnings
"""
description = "Verifies that the source code is clean and well-formatted with Biome."
alias = ["cf"]

[tasks.check-mise]
# language=sh
run = """
  mise fmt --check
"""
description = "Verifies that the mise-en-place configuration file (`mise.toml`) is well-formatted." # This file.
alias = ["cm"]

[tasks.check-renovate]
# language=sh
run = """
  pnpm dlx --package renovate renovate-config-validator
"""
description = "Verifies that the Renovate configuration file (`.github/renovate.json`) is valid."
alias = ["cr"]

[tasks.check-types]
# language=sh
run = """
  tsgo
"""
description = "Verifies that the source code is type-safe with TypeScript."
alias = ["ct"]

[tasks.format]
# language=sh
run = """
  biome check --skip-parse-errors --write
"""
description = "Reformats the source code with Biome."
alias = ["f"]

[tasks.format-mise]
# language=sh
run = """
  mise fmt
"""
description = "Reformats the mise-en-place configuration file (`mise.toml`)." # This file.
alias = ["fm"]

[tasks.install]
# language=sh
run = """
  mise install
"""
description = "Installs all third-party dependencies with mise-en-place and pnpm and (unless opted out) enables the Git hooks with Lefthook."
alias = ["i"]

[tasks.test]
# language=sh
run = """
  vitest run
"""
description = "Runs the entire unit test suite once with Vitest."
alias = ["t"]

[tasks.vitest]
# language=sh
run = """
  vitest watch \
    --ui \
    --api.port "$LOCALHOST_VITEST_PORT" \
    --open "$LOCALHOST_VITEST_OPENS_AUTOMATICALLY"
"""
description = "Starts the Vitest UI test explorer for continuous unit testing."
alias = ["v"]

[tasks.yolo]
# language=sh
run = """
  lefthook uninstall
"""
description = "Disables the Git hooks temporarily with Lefthook."

[hooks]
# language=sh
postinstall = """
  pnpm install --frozen-lockfile --ignore-scripts

  if [ -z "$LEFTHOOK" ] || [ "$LEFTHOOK" = '1' ] || [ "$LEFTHOOK" = 'true' ]; then
    lefthook install
  fi
"""

[env]
# Load environment variables from the following .env files in prioritised order.
# Variables declared in later files override earlier ones.
# https://mise.jdx.dev/environments/#env-file
_.file = [".env", ".env.local"]

# Make CLI programs in `node_modules` available directly in the command line.
# https://mise.jdx.dev/mise-cookbook/nodejs.html#add-node-modules-binaries-to-the-path
_.path = ["node_modules/.bin"]

# Align the behaviour of the local environment with the CI environment in GitHub Actions by default.
CI = 1
COMET_PLATFORM = "cli"

# Grab the current Comet version from the `version` field in `package.json`.
COMET_VERSION = { value = "{{ exec(command=\"jq --raw-output .version package.json\") }}" }

[settings]
# Enable mise hooks.
experimental = true

# Suppress printing the `run` input command in the console when running a mise task.
quiet = true
