# This workflow implements the continuous integration (CI) pipeline.
# It verifies that pull requests meet certain standards in software quality and coding conventions.
#
# It is triggered automatically by pull requests opened towards the `main` branch.

name: CI

on:
  pull_request:
    branches:
      - main
    types:
      - opened
      - ready_for_review
      - reopened
      - synchronize

# Cancel all previous runs of this workflow that are still in progress on the same branch.
# https://docs.github.com/en/actions/reference/workflow-syntax-for-github-actions#concurrency
concurrency:
  group: ci-${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

# All third-party actions are pinned to a specific commit SHA for security reasons.
# https://docs.github.com/en/actions/security-guides/security-hardening-for-github-actions#using-third-party-actions
jobs:
  integrity:
    name: Integrity
    if: github.event.pull_request.draft == false
    permissions:
      # To call reusable workflows in the same repository.
      # https://docs.github.com/en/rest/repos/contents?apiVersion=2022-11-28#get-repository-content
      # https://docs.github.com/en/actions/how-tos/reuse-automations/reuse-workflows#example-caller-workflow
      contents: read
    uses: ./.github/workflows/integrity.yml

  commit-messages:
    name: Commit messages
    if: github.event.pull_request.draft == false
    needs: integrity
    runs-on: ubuntu-24.04-arm
    timeout-minutes: 1
    permissions:
      # To review the commit messages in the pull request.
      # https://docs.github.com/en/rest/pulls/pulls?apiVersion=2022-11-28#list-commits-on-a-pull-request
      pull-requests: read
    steps:
      - name: Check out the repository
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        #
      - name: Restore the build artefacts to be run
        uses: ./.github/actions/build-artefacts
        #
      - name: Verify the commit messages
        uses: ./ # Run the action on itself.
        with:
          github-token: ${{ github.token }}
          rules: |
            acknowledged-author-email-addresses,
            acknowledged-author-names,
            acknowledged-committer-email-addresses,
            acknowledged-committer-names,
            capitalised-subject-lines,
            empty-line-after-subject-lines,
            imperative-subject-lines,
            limit-length-of-body-lines,
            limit-length-of-subject-lines,
            multi-word-subject-lines,
            no-co-authors,
            no-merge-commits,
            no-revert-revert-commits,
            no-squash-commits,
            no-trailing-punctuation-in-subject-lines,
            no-unexpected-whitespace,
            unique-subject-lines,

          # The author and committer email address must be on one of these forms:
          # - `id+username@users.noreply.github.com`
          # - `noreply@github.com` (committer only, for automated version upgrades and for reverting pull requests directly from the GitHub web interface)
          acknowledged-author-email-addresses--patterns: '\d+\+.+@users\.noreply\.github\.com'
          acknowledged-committer-email-addresses--patterns: '\d+\+.+@users\.noreply\.github\.com noreply@github\.com'

          # The author and committer name must be on one of these forms:
          # - at least two words where the first word starts with a capital letter
          # - `renovate[bot]` (for automated version upgrades)
          # - `GitHub` (committer only, for automated version upgrades and for reverting pull requests directly from the GitHub web interface)
          acknowledged-author-names--patterns: '\p{Lu}.*\s.+ renovate\[bot\]'
          acknowledged-committer-names--patterns: '\p{Lu}.*\s.+ renovate\[bot\] GitHub'
