# This reusable workflow verifies that the software quality meets certain standards.
# It also produces build artefacts that can be published at a later stage.
#
# It is triggered by other workflows as needed.
#
# It is triggered automatically by pushing commits to the `main` branch (by merging pull requests) to prepare the workflow cache for future pull requests.
# https://docs.github.com/en/actions/writing-workflows/choosing-what-your-workflow-does/caching-dependencies-to-speed-up-workflows#restrictions-for-accessing-a-cache
#
# It can be triggered manually on any branch via the GitHub CLI:
#
#   gh workflow run integrity.yml [--ref <branch-name>]
#   gh run watch
#
# It can also be triggered manually on any branch via the GitHub web interface:
# https://github.com/rainstormy/github-action-validate-commit-messages/actions/workflows/integrity.yml

name: Integrity

on:
  push:
    branches:
      - main
  workflow_call:
  workflow_dispatch:

# Cancel all previous runs of this workflow that are still in progress on the same branch.
# https://docs.github.com/en/actions/reference/workflow-syntax-for-github-actions#concurrency
concurrency:
  # For `workflow_call` events, `github.workflow` is the caller workflow instead of this workflow.
  # The `integrity-` prefix makes GitHub Actions distinguish this job from other jobs in the caller workflow.
  # https://docs.github.com/en/actions/using-workflows/reusing-workflows
  group: integrity-${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

# Use ARM-powered runners instead of x64-powered runners to reduce costs.
# https://docs.github.com/en/billing/reference/actions-minute-multipliers
#
# All third-party actions are pinned to a specific commit SHA for security reasons.
# https://docs.github.com/en/actions/security-guides/security-hardening-for-github-actions#using-third-party-actions
jobs:
  build:
    name: Build
    runs-on: ubuntu-24.04-arm
    timeout-minutes: 2
    permissions:
      # To check out the repository.
      # https://docs.github.com/en/rest/repos/contents?apiVersion=2022-11-28#get-repository-content
      contents: read
    steps:
      - name: Check out the repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        #
      - name: Build the project (Vite)
        uses: ./.github/actions/task
        with:
          # The cache key includes:
          # - All production code (`src/**/*`).
          # - The TypeScript configuration file which defines import path aliases (`tsconfig.json`).
          # - The Vite configuration file (`vite.config.ts`).
          # - Tool versions and mise task definitions (`mise.toml`).
          # - Node.js package versions (`pnpm-lock.yaml`).
          #
          # CAUTION: The cache key is repeated in `.github/actions/build-artefacts/action.yml` to restore the build artefacts.
          cache-key: build:${{ hashFiles('src/**/*', '!src/**/*.fixtures.*', '!src/**/*.mocks.*', '!src/**/*.tests.*', 'mise.toml', 'pnpm-lock.yaml', 'tsconfig.json', 'vite.config.ts') }}
          cache-path: dist/
          # language=sh
          task: build

  check:
    name: Clean code
    runs-on: ubuntu-24.04-arm
    timeout-minutes: 2
    permissions:
      # To check out the repository.
      # https://docs.github.com/en/rest/repos/contents?apiVersion=2022-11-28#get-repository-content
      contents: read
    steps:
      - name: Check out the repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        #
      - name: Verify the workflow syntax (actionlint)
        uses: ./.github/actions/task
        with:
          # The cache key includes:
          # - Workflow files (`.github/workflows/*.yml`).
          # - Reusable actions (`.github/actions/**/action.yml`).
          # - The metadata file of the GitHub Actions entrypoint (`action.yml`).
          # - Tool versions and mise task definitions (`mise.toml`).
          cache-key: check-actions:${{ hashFiles('.github/**/*.yml', 'action.yml', 'mise.toml') }}
          cache-path: node_modules/.cache/actionlint/
          # language=sh
          task: check-actions
        #
      - name: Verify the code style (Biome)
        uses: ./.github/actions/task
        with:
          # The cache key includes:
          # - Files covered by Biome, as defined in `biome.jsonc`.
          # - The Biome configuration file (`biome.jsonc`).
          # - The EditorConfig file respected by Biome (`.editorconfig`).
          # - Tool versions and mise task definitions (`mise.toml`).
          # - Node.js package versions (`pnpm-lock.yaml`).
          cache-key: check-format:${{ hashFiles('.github/**/*', '.vscode/**/*', 'src/**/*', '*.json', '*.jsonc', '*.ts', '.editorconfig', 'mise.toml', 'pnpm-lock.yaml') }}
          cache-path: node_modules/.cache/biome/
          # language=sh
          task: check-format
        #
      - name: Verify the mise-en-place configuration
        uses: ./.github/actions/task
        with:
          # The cache key includes:
          # - The mise configuration file (`mise.toml`).
          cache-key: check-mise:${{ hashFiles('mise.toml') }}
          cache-path: node_modules/.cache/mise/
          # language=sh
          task: check-mise
        #
      - name: Verify the Renovate configuration
        uses: ./.github/actions/task
        with:
          # The cache key includes:
          # - The Renovate configuration file (`.github/renovate.json`).
          # - Tool versions and mise task definitions (`mise.toml`).
          cache-key: check-renovate:${{ hashFiles('.github/renovate.json', 'mise.toml') }}
          cache-path: node_modules/.cache/renovate/
          # language=sh
          task: check-renovate
        #
      - name: Verify the type safety (TypeScript)
        uses: ./.github/actions/task
        with:
          # The cache key includes:
          # - Files covered by TypeScript, as defined in `tsconfig.json`.
          # - The TypeScript configuration file (`tsconfig.json`).
          # - Tool versions and mise task definitions (`mise.toml`).
          # - Node.js package versions (`pnpm-lock.yaml`).
          cache-key: check-types:${{ hashFiles('src/**/*', '*.ts', 'mise.toml', 'pnpm-lock.yaml', 'tsconfig.json') }}
          cache-path: node_modules/.cache/typescript/
          # language=sh
          task: check-types

  test:
    name: Unit tests
    runs-on: ubuntu-24.04-arm
    timeout-minutes: 2
    permissions:
      # To check out the repository.
      # https://docs.github.com/en/rest/repos/contents?apiVersion=2022-11-28#get-repository-content
      contents: read
    env:
      TEST_REPORT_PATH: node_modules/.cache/vitest/report.xml
    steps:
      - name: Check out the repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        #
      - name: Verify the unit tests (Vitest)
        uses: ./.github/actions/task
        with:
          # The cache key includes:
          # - Test fixtures (`src/**/*.fixtures.ts`).
          # - Module mocks (`src/**/*.mocks.ts`).
          # - Unit test suites (`src/**/*.tests.ts`).
          # - Files covered by unit tests (`src/**/*`).
          # - The TypeScript configuration file which defines import path aliases (`tsconfig.json`).
          # - The Vite configuration file (`vite.config.ts`).
          # - Tool versions and mise task definitions (`mise.toml`).
          # - Node.js package versions (`pnpm-lock.yaml`).
          cache-key: test:${{ hashFiles('src/**/*', 'mise.toml', 'pnpm-lock.yaml', 'tsconfig.json', 'vite.config.ts') }}
          cache-path: node_modules/.cache/vitest/
          # language=sh
          task: test --reporter=default --reporter=junit --outputFile.junit="$TEST_REPORT_PATH"
        #
      - name: Add a test report to the job summary
        uses: test-summary/action@31493c76ec9e7aa675f1585d3ed6f1da69269a86 # v2.4
        with:
          paths: ${{ env.TEST_REPORT_PATH }}
